/*CSS variables */
:root {
    --color-dark-blue: #090c1b;
    --color-mantis: #7ac142;
    --color-mantis-darker: #5a803d;
    --color-lighter-blue: #153c6b;
    --color-white: #ffffff;
    --color-floral-white: #f7f6f2;
    --color-silver: #C0C0C0;
    --color-black: #000000;
    --color-tomato: #FF6347;
}

/* General styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--color-white);
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container {
    max-width: 117rem;
    margin: 0 auto;
    padding: 0 1.6rem;
}

@media (min-width: 100em) {
    .container {
        max-width: 151rem;
    }
}

.btn {
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    background-color: var(--color-mantis);
    color: var(--color-white);
    border-radius: 1.6rem;
    letter-spacing: .2rem;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn--smaller {
    border: none;
    font-size: 1.3rem;
    padding: 1.2rem 1.5rem;
    cursor: pointer;
    border-bottom: 1px solid var(--color-mantis);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn:hover {
    background-color: var(--color-mantis-darker);
}

.logo {
    width: 7rem;
    height: 2.2rem;
}

@media (min-width: 75em) {
    .logo {
        width: 12rem;
        height: 4.2rem;
    }
}

.logo__img {
    -o-object-fit: cover;
    object-fit: cover;
}

/* Preloader */

.preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-lighter-blue);
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.preloader-container__loader {
    width: 9rem;
    height: 9rem;
    border: 10px solid var(--color-mantis-darker);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.preloader-container__loader::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--color-mantis-darker);
    margin: -10px 0 0 -10px;
}

.preloader-container.opacity-0 {
    opacity: 0;
}

.hero {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/bg-phone.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-phone.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-phone.jpg);
    background-position: 52% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

@media (min-width: 56em) {
    .hero {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/bg-desktop.jpg);
        background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-desktop.jpg);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg-desktop.jpg);
        background-position: 50% 50%;
    }
}

.hero__body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    max-width: 114rem;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-width: 100em) {
    .hero__body {
        max-width: 151rem;
    }
}

.hero__info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: fadeInRight .8s ease-in-out;
    animation: fadeInRight .8s ease-in-out;
}

.hero.hide {
    display: none;
}

.hero__title {
    font-size: calc(24px + 28 * ((100vw - 320px) / (1920 - 320)));
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    line-height: 1.5;
}

.hero__slider {
    width: 100%;
    padding-bottom: 1rem;
    -webkit-animation: fadeInLeft .8s ease-in-out;
    animation: fadeInLeft .8s ease-in-out;
}

@media (min-width: 75em) {
    .hero__slider {
        padding-bottom: 2rem;
    }
}

.hero__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hero__img {
    height: 26rem;
    -o-object-fit: cover;
    object-fit: cover;
    margin-bottom: .8rem;
    border-radius: 1.6rem;
}

.hero__slider-title {
    font-size: 2.4rem;
    margin-bottom: .4rem;
    color: var(--color-white);
}

.hero__slider-subtitle {
    font-size: 1.7rem;
    color: var(--color-white);
}

/* Quiz Questions */

.quiz-questions,
.quiz-results {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--color-dark-blue);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: none;
}

.quiz-questions.show,
.quiz-results.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quiz-questions__body,
.quiz-results__body {
    background-color: var(--color-lighter-blue);
    padding: 1rem;
    border-radius: 1.5rem;
    border: 2px solid var(--color-mantis);
    -webkit-animation: fadeInRight .8s ease-in-out;
    animation: fadeInRight .8s ease-in-out;
    min-width: 38rem;
}

.quiz-questions__item {
    max-width: 60rem;
}

.quiz-questions__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid var(--color-mantis);
    margin-bottom: 1.2rem;
    padding-bottom: 1rem;
}

@media (min-width: 75em) {
    .quiz-questions__header {
        min-height: 6rem;
    }
}

.quiz-questions__question-number {
    font-size: calc(13px + 12 * ((100vw - 320px) / (1920 - 320)));
    letter-spacing: .1rem;
}

.quiz-questions__title {
    font-size: calc(14px + 15 * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: 1.4rem;
}

.quiz-questions__answer-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.quiz-questions__answer-option {
    display: inline-block;
    border: none;
    font-size: 1.6rem;
    padding: 1.5rem 1rem;
    background-color: var(--color-silver);
    border-radius: 1.5rem;
    color: var(--color-dark-blue);
    margin-bottom: 1.5rem;
    cursor: pointer;
    text-align: left;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    opacity: 0;
    -webkit-animation: fadeIn .3s ease-in-out forwards;
    animation: fadeIn .3s ease-in-out forwards;
    position: relative;
    overflow: hidden;
}

.quiz-questions__answer-option.already-answered {
    pointer-events: none;
}

.quiz-questions__answer-option.correct,
.quiz-questions__answer-option.wrong {
    color: var(--color-white);
}

.quiz-questions__answer-option.correct::before,
.quiz-questions__answer-option.wrong::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 2px solid var(--color-white);
    border-radius: 1.5rem;
    z-index: -1;
    -webkit-animation: slideInLeft .4s ease-in-out forwards;
    animation: slideInLeft .4s ease-in-out forwards;
}

.quiz-questions__answer-option.correct::before {
    background-color: var(--color-mantis);
}

.quiz-questions__answer-option.wrong::before {
    background-color: var(--color-tomato);
}

.quiz-questions__answer-option:hover {
    background-color: var(--color-white);
}

.quiz-questions__answer-option:not(:last-child) {
    margin-bottom: 1.2rem;
}

.quiz-questions__btn {
    border: transparent;
    margin-bottom: 2rem;
}

.quiz-questions__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: right;
    border-top: 1px solid var(--color-mantis);
    padding-top: 1.2rem;
}

.quiz-questions__answer-indecators {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.2rem;
}

@media (min-width: 25em) {
    .quiz-questions__answer-indecators {
        margin-bottom: 0rem;
    }
}

.quiz-questions__answer-indecator {
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-silver);
    border-radius: 50%;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quiz-questions__answer-indecator.correct,
.quiz-questions__answer-indecator.wrong {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
}

.quiz-questions__answer-indecator.correct {
    background-color: var(--color-mantis);
    background-image: url(../img/Indecators/correct.png);
}

.quiz-questions__answer-indecator.wrong {
    background-color: var(--color-tomato);
    background-image: url(../img/Indecators/wrong.png);
}

@media (min-width: 48em) {
    .quiz-questions__answer-indecator {
        width: 4rem;
        height: 4rem;
    }
}

.quiz-questions__answer-indecator:not(:last-child) {
    margin-right: .5rem;
}

.quiz-questions__timer-info {
    font-size: 1.8rem;
}

.quiz-questions__timer {
    color: var(--color-mantis);
    font-weight: 600;
    font-size: 1.6rem;
}

.quiz-questions__btn {
    display: none;
    -webkit-animation: fadeIn 0.6s ease-in-out;
    animation: fadeIn 0.6s ease-in-out;
}

.quiz-questions__btn.show {
    display: inline-block;
}

/* Quiz Results */

.quiz-results {
    text-align: center;
}

.quiz-results__item {
    width: 27rem;
    max-width: 100%;
}

@media (min-width: 23em) {
    .quiz-results__item {
        width: 32rem;
    }
}

@media (min-width: 25em) {
    .quiz-results__item {
        width: 35rem;
    }
}

@media (min-width: 48em) {
    .quiz-results__item {
        width: 45rem;
    }
}

@media (min-width: 75em) {
    .quiz-results__item {
        width: 60rem;
    }
}

.quiz-results__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.quiz-results__title {
    font-size: 3rem;
    text-align: center;
}

.quiz-results__table {
    width: 100%;
    border-collapse: collapse;
    margin: 3rem 0;
}

.quiz-results__table-td {
    border: 1px solid var(--color-silver);
    padding: .8rem 1.6rem;
    text-align: left;
}

.quiz-results__btn {
    padding: 1rem 1.1rem;
}

@media (min-width: 48em) {
    .quiz-results__btn {
        padding: 1.2rem 1.6rem;
    }
}

@media (min-width: 75em) {
    .quiz-results__btn {
        padding: 1.6rem 2rem;
    }
}

.quiz-results__btn:not(:last-child) {
    margin-right: 1rem;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        -webkit-transform: translateX(4rem);
        transform: translateX(4rem);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0rem);
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes fadeInRight {
    0% {
        -webkit-transform: translateX(4rem);
        transform: translateX(4rem);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0rem);
        transform: translateX(0rem);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-4rem);
        transform: translateX(-4rem);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0rem);
        transform: translateX(0rem);
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        -webkit-transform: translateX(-4rem);
        transform: translateX(-4rem);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0rem);
        transform: translateX(0rem);
        opacity: 1;
    }
}

@-webkit-keyframes rotate {
    from {}

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {}

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
